{% extends 'base.html' %}

{% block main %}
  <h1>Hey, twonum here</h1>
  <p id="page-info">Developer &bull; Vancouver, BC &bull; <a href="https://hackclub.com">Hack Club</a> member</p>

  <h2>Contact me</h2>
  <p>If you want to contact me on a platform, see my <a href="https://hub.twonum.org">link hub</a>.</p>

  <h3>Email</h3>
  <h4>Policy</h4>
  <p>In short, <b>don't spam me</b>. My <em>voicemail</em> is scam-filled already, so don't make it worse.
  <p>Try not to solicit me (unless I vaguely "trust" you, or you're from Hack Club).</p>

  <h4>My (encoded) email address</h4>
  <p>
    My email address is encoded in
    <a href="https://emn178.github.io/online-tools/base32_decode.html">UTF-8 Base32</a>:
    <code>IJ4SAZDFMNXWI2LOM4QHI2DJOMQGCZ3BNFXCYIDZN52SAYLHOJSWKIDUN4QGQ5DUOBZTULZPOMXHI53PNZ2W2LTPOJTS6ZLNMFUWYORAJ5JDGVZWKFCFKTZVLBLTINKMJZDFUWCYIVNFSPI=</code>
  </p>

  <h2>Guestbook</h2>
  <p>
    Before the advent of social media, there was the guestbook, which let site visitors communicate with its
    owner&mdash;<i>ahem</i>&mdash;enough yapping. Here's my guestbook.
    Some may consider this a relic of the past, but hey&mdash;it might as well be a way against all the social media stuff.
  <p>
    Besides the guestbook, there was the hit counter. I have one too: <b>{{ time_machine.hits }} requests</b> have been made to this page.
  </p>
{% include 'core/comments.html' with object=time_machine %}
{% endblock %}

