{% extends 'base.html' %}
{% load static %}
{% load markdown_extras %}

{% block head %}
  <link rel="stylesheet" href="{% static 'css/about.css' %}">
  <link rel="canonical" href="https://{{ request.site.domain }}{{ time_machine.get_absolute_url }}">
  <script src="{% static 'js/about/email.js' %}"></script>
{% endblock head %}

{% block main %}
  <h1>Hey, twonum here</h1>
  <p id="page-info">Developer &bull; Vancouver, BC &bull; <a href="https://hackclub.com">Hack Club</a> member</p>

  <section>
    <h2>Who am I?</h2>
    <p>I'm a software and hardware developer and computer science student from Vancouver, <abbr
            title="British Columbia">BC</abbr>, Canada.</p>
  </section>

  <section>
    <h2>My projects</h2>
    <p>Why not see them for yourself?</p>
    <div id="projects" data-masonry-data='{"itemSelector": "article.card", "percentPosition": true, "gutter": 10 }'>
      {% for p in projects %}
        <article class="card" style="width: 24rem;">
          <img src="{{ p.banner.url }}" class="card-img-top" alt>
          <div class="card-body">
            <span class="card-subtitle mb-2 text-body-secondary">{{ p.author }}</span>
            <h3 class="cards-title"><a href="{{ p.get_absolute_url }}">{{ p.name }}</a></h3>
            <p class="card-text">{{ p.desc|strip_markdown|truncatechars:180 }}</p>
          </div>
        </article>
      {% endfor %}
    </div>
  </section>
  <hr>
  <section id="contact">
    <h2>Contact me</h2>
    <p>If you want to contact me on a platform, see my <a href="https://hub.twonum.org">link hub</a>.</p>

    <h3>Email</h3>
    <p>I love getting emails from folks! (I wish my inbox was as wonderful as my feeds.)</p>

    <h4>Policy</h4>
    <p>In short, <b>don't spam me</b>. My <em>voicemail</em> is scam-filled already, so don't make it worse.
    <p>In particular:</p>
    <ul>
      <li>Should go without saying: <strong>Do not solicit/spam me.</strong>
        I'll probably block you (on community lists).</li>
      <li>
        twonum.org is my <em>personal</em> website.
        It would be meaningless if it was filled with others' posts on DoubleFloat, so I do not accept guest posts.
      </li>
      <li>
        Don't promote your job offering/personal beliefs. My current arrangements are good enough.
        (Sharing interesting stuff is okay; don't convert me/try to hire me).
      </li>
      <li>git@twonum.org is only used for Git commits. Don't use it for comms.</li>
      <li>If I gave express permission before, it overrides this policy, but remember that they're revocable.</li>
      <li>
        Use the DANE <code>OPENPGPKEY</code> record or Web Key Directory to receive my OpenPGP key.
        (Encrypting with my key lessens spam chances; no bots use PGP!)
      </li>
      <li>All emails are read in plain text
        (<a href="https://useplaintext.email/#why-plaintext">HTML email is known to be bad</a>).
        Don't use fancy HTML. <a href="https://useplaintext.email/">Use plain text email</a> if possible
        (on Thunderbird, it's just <kbd><kbd>Shift</kbd> + <kbd>New Message</kbd></kbd>),
        otherwise don't format your HTML.</li>
    </ul>

    <p>After reading my policy: <b>Why do you want my email?</b></p>
    <details><summary>I want to sell you something</summary>
      <p><b>Don't.</b></p>
      <p>I will block you.</p>
    </details>
    <details>
      <summary>I want to change your personal beliefs or hire you, not just share interesting stuff</summary>
      <p><b>My inbox is not a soapbox.</b></p>
      <p>I will delete your email. Repeat offenders will get blocked.</p>
    </details>
    <details><summary>I want to share something interesting/ask about something else/just say hi</summary>
      <p><b>You absolutely can email me</b>, fellow stranger!</p>
      <p>
        <button id="display-email-button" class="btn btn-secondary" type="button">Get email!</button>
        <output id="email-output"></output>
      </p>
    </details>

    <h2>Guestbook</h2>
    <p>
      Before the advent of social media, there was the guestbook, which let site visitors communicate with its
      owner&mdash;<i>ahem</i>&mdash;enough yapping. Here's my guestbook.
      Some may consider this a relic of the past, but hey&mdash;it might as well be a way to take break from social media.
    <p>
      Besides the guestbook, there was the hit counter.
      I have one too: <b>{{ time_machine.hits }} requests</b> have been made to this page.
    </p>
  </section>
{% include 'core/comments.html' with object=time_machine %}
{% endblock %}

