{% extends 'base.html' %}
{% load static %}
{% load markdown_extras %}

{% block head %}
  <link rel="stylesheet" href="{% static 'css/about.css' %}">
  <link rel="canonical" href="https://{{ request.site.domain }}{{ time_machine.get_absolute_url }}">
  <script src="{% static 'js/about/email.js' %}"></script>
{% endblock head %}

{% block main %}
  <p>There's two ways to contact me (both are great!):</p>
  <ul>
    <li><b>Email</b> if you want your message to be a bit more <em>personal</em> or want to use OpenPGP/GnuPG.</li>
    <li><b><a href="https://matrix.org">Matrix</a></b> if you want easy end-to-end encryption or a real-time chat.</li>
  </ul>
  <p>Keep reading to learn more!</p>

  <h2>Email</h2>
  <p>I love getting emails from folks! (I wish my inbox was as wonderful as my feeds.)</p>

  <h3>Policy</h3>
  <p>There used to be so much more here, but I'll summarize it:</p>
  <ul>
    <li>Don't spam me. This includes guest posts on my blog.</li>
    <li>
      OpenPGP is supported.
      Use the DANE <code>OPENPGPKEY</code> record or Web Key Directory to receive my OpenPGP key.
      (Encrypting with my key lessens spam chances; no bots use PGP!)
    </li>
    <li>All emails are read in plain text.
      <a href="https://useplaintext.email/">Use plain text email</a> if possible
      (on Thunderbird, it's just <kbd><kbd>Shift</kbd> + <kbd>New Message</kbd></kbd>),
      otherwise don't format your HTML.</li>
  </ul>

  <p><b>Why do you want my email?</b></p>
  <details><summary>I want to sell you something</summary>
    <p><b>Don't.</b></p>
    <p>I will block you.</p>
  </details>
  <details>
    <summary>I want to change your personal beliefs or hire you, not just share interesting stuff</summary>
    <p><b>My inbox is not a soapbox.</b></p>
    <p>I will delete your email. Repeat offenders will get blocked.</p>
  </details>
  <details><summary>I want to share something interesting/something else/just say hi</summary>
    <p><b>Absolutely! Go ahead!</b></p>
    <div class="yesscript">
      <button id="display-email-button" class="btn btn-secondary" type="button">Get email!</button>
      <output id="email-output"></output>
    </div>
    <noscript>
      <p>Your JavaScript is disabled. Don't worry! (Good decision too!)</p>
      <p>
        My email address is:
      </p>
      <ol>
        <li>my name (starting with C) listed on the <a href="{% url 'home:home' %}">home page</a></li>
        <li>the symbol that looks like ⓐ</li>
        <li>this website's domain ([6 letters].[TLD])</li>
      </ol>
    </noscript>
  </details>

  <hr>

  <h2>Matrix</h2>
  <p>If you want a real-time chat or the easiest end-to-end encryption, talk to me on <a href="https://matrix.org"</a>Matrix</a>!</p>
  <p>Point your client to <code>@twonum:twonum.org</code> or use <a href="https://matrix.to/#/@twonum:twonum.org">matrix.to</a>.</p>

{#    <h2>Guestbook</h2>#}
{#    <p>#}
{#      Before the advent of social media, there was the guestbook, which let site visitors communicate with its#}
{#      owner&mdash;<i>ahem</i>&mdash;enough yapping. Here's my guestbook.#}
{#      Some may consider this a relic of the past, but hey&mdash;it might as well be a way to take break from social media.#}
{#    <p>#}
{#      Besides the guestbook, there was the hit counter.#}
{#      I have one too: <b>{{ time_machine.hits }} requests</b> have been made to this page.#}
{#    </p>#}
{#{% include 'core/comments.html' with object=time_machine %}#}
{% endblock %}

