{% extends 'base.html' %}
{% load static %}
{% load markdown_extras %}

{% block head %}
  <link rel="canonical" href="https://{{ request.site.domain }}{% url 'projects:home' %}">
  <link rel="stylesheet" href="{% static 'css/projects.css' %}">
{% endblock head %}

{% block main %}
  <h1>the works of Cadence</h1>

  {% for project in projects %}
    <article id="project_{{ project.slug }}" class="article">
      <h2>{{ project.name }}</h2>
      <p class="article-info">
        Created by Cadence on <time datetime="{{ project.date|date:'Y-m-d\\TH:i:sO' }}">{{ project.date }}</time>
      </p>
      {% if project.banner %}
        <img class="projects-banner"
             src="{{ project.banner.url }}" alt="{% if project.banner_alt %}{{ project.banner_alt }}{% endif %}"
        >
      {% endif %}
{{ project.desc|markdown|safe }}
    </article>
  {% endfor %}
{% endblock main %}
