{% extends 'base.html' %}
{% load markdown_extras %}

{% block head %}
  <link rel="canonical" href="https://{{ request.site.domain }}{% url 'projects:home' %}">
{% endblock head %}

{% block main %}
  <ul class="icon-group">
    <li><a href="{% url 'projects:rss_feed' %}" aria-label="RSS"><i class="fa fa-rss" title="RSS"></i></a></li>
    <li><a href="{% url 'projects:atom_feed' %}" aria-label="Atom"><i class="fa fa-atom" title="Atom"></i></a></li>
  </ul>

  <section>
    <h2>Listing</h2>
    <pre>
user@{{ request.site.domain }}:/projects$ ls --card
total {{ projects.count }}</pre>
    <div id="project-list" data-masonry-data='{"itemSelector": "article.card", "percentPosition": true, "gutter": 10 }'>
      {% for p in projects %}
        <article class="card" style="width: 24rem;">
          <img src="{{ p.banner.url }}" class="card-img-top" alt>
          <div class="card-body">
            <span class="card-subtitle mb-2 text-body-secondary">{{ p.author }}</span>
            <h3 class="cards-title"><a href="{{ p.get_absolute_url }}">{{ p.name }}</a></h3>
            <p class="card-text">{{ p.desc|strip_markdown|truncatechars:180 }}</p>
          </div>
        </article>
      {% endfor %}
    </div>
    <br>
    <h3>Classic rwx</h3>
    <pre>
user@{{ request.site.domain }}:/projects$ ls --l{% for p in projects %}
-rwxr-xr-x 1 {{ p.author }} {{ p.author }} {{ p.date|date:"M d Y" }}  <a href="{{ p.get_absolute_url }}">{{ p.name }}</a>{% endfor %}</pre>
  </section>
{% endblock main %}
