{% extends 'base.html' %}
{% load static %}
{% load markdown_extras %}

{% block head %}
  <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block main %}
  <p>Hey&mdash;<a href="https://hub.twonum.org">twonum</a> here, a software and hardware developer from Canada.</p>
  <p>Here's some of my work on a single page!</p>

  <section>
    <h2>Some of my stuff</h2>
    <div id="work">
      {% if post %}
        <article>
          <h3><a href="{{ post.get_absolute_url }}">{{ post.title }}</a> on DoubleFloat</h3>
{{ post.body|strip_markdown|truncatechars:500 }}
        </article>
      {% endif %}

      {% if project %}
        <article>
          <img class="mw-100 mx-auto mb-2" src="{{ project.banner.url }}" alt>
          <h3><a href="{{ project.get_absolute_url }}">{{ project.name }}</a> by {{ project.author }}</h3>
{{ project.desc|strip_markdown|truncatechars:500 }}
        </article>
      {% endif %}
    </div>
  </section>

  <section>
    <h2>Stats</h2>
    <pre id="stats">
twonum@{{ request.site.domain }}:/projects$ twofetch
<div id="fetch"><div aria-hidden="true">
    -------
   /       \
  /         \
 /           \
             /
            /
           /
          /
         /
         \
          \
           \
            \
             \
</div><div id="fetch-info">
twonum@{{ request.site.domain }}
<hr>OS: Debian GNU/Linux
Host: <a href="//hackclub.app/">Nest</a>
Browser: Mozilla Firefox
Uptime: [unavailable] yrs
Projects: {{ project_count }} (<a href="{% url 'projects:home' %}">project list</a>)
Link Hub: <a href="//hub.twonum.org/">hub.twonum</a>
City: Vancouver, British Columbia, Canada
Email: <a href="{% url 'about:about' %}#contact">Contact page</a>
Global Domain: twonum.org
Locale: en_ca.UTF-8
</div></div>
</pre>
  </section>
  <iframe id="webring" src="https://webring.hackclub.com/embed.html" width="90px" height="60px"><iframe>
{% endblock main %}
