#skip {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
#skip:focus {
  position: static;
  width: auto;
  height: auto;
}

body {
  font-family: Outfit, system-ui, sans-serif;
  background-color: #1e1e2e;
}

nav.navbar {
  /* Catppuccin */
  background-color: #181825;
  color: #cdd6f4;
}

main {
  /*color: #cdd6f4;*/
  a:link:not(.btn):not(.page-link) {
    color: #89b4fa;
    text-decoration-style: dotted;
  }
  a:visited:not(.btn):not(.page-link) {
    color: #cba6f7;
  }
  a:hover {
    text-decoration-style: solid !important;
  }
  a:active {
    text-decoration-style: wavy !important;
  }
}

h1,h2,h3,h4,h5,h6 {
  font-family: monospace;
}

h1 {
  text-align: center;
  font-size: 3em;
  background-image: linear-gradient(to bottom, white 0%, #999 100%);
  background-clip: text;
  color: transparent;
}

h2 {
  padding-bottom: 3px;
  border-bottom: 3px #7f849c solid;  /* Catppuccin */
  width: fit-content;
  font-size: 2.1em;
}

hgroup:has(h1) p {
  font-size: 1.7em;
  text-align: center;
}

#page-info {
  text-align: center;
  font-size: 1.1em;
}

.btnset * {
  margin: 0 .3em;
}

section, article {
  background-color: #313244;
  border-radius: 15px;
  margin: 2em 0;
  padding: 1em;
}

.icon-group {
  margin: 1em auto;
  padding: 0;
  text-align: center;
  li {
    list-style: none;
    display: inline;
    a {
      color: white !important;
    }
    i {
      margin: 0 .2em;
      font-size: 32px;
    }
  }
}
