#hc-webring {
  border-radius: 15px;
  border: none;
}

#buttons {
  a {
    text-decoration: none;
  }

  img {
    image-rendering: pixelated;
    margin-right: 10px;
    margin-bottom: 10px;
  }
}

#webrings {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  h2 {
    text-align: center;
  }
}
#webrings > * {
  display: block;
  margin: 0.3em;
}
