#hc-webring {
  border-radius: 15px;
  border: none;
}

#buttons {
  a {
    text-decoration: none;
  }

  img {
    image-rendering: pixelated;
    margin-right: 10px;
    margin-bottom: 10px;
  }
}

#home-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
}
