{% extends 'base.html' %}
{% load markdown_extras %}

{% block head %}
  <link rel="canonical" href="https://{{ request.site.domain }}{{ cat.get_absolute_url }}">
  {% if not pagination.count %}
    <meta name="robots" content="noindex">
  {% endif %}
{% endblock head %}

{% block main %}
  <hgroup>
    <h1>{{ cat.title }}</h1>
    <p>Posts on DoubleFloat</p>
  </hgroup>

{{ cat.desc|markdown|safe }}

  {% for p in posts %}
    <article>
      <h1><a href="{{ p.get_absolute_url }}">{{ p.title }}</a></h1>
{{ p.body|markdown|safe }}
    </article>
  {% endfor %}

  {% include 'core/pagination.html' with pagination=pagination elided=elided %}
{% endblock %}
