{% extends 'base.html' %}
{% load markdown_extras %}

{% block main %}
  <hgroup>
    <h1>DoubleFloat</h1>
    <p>The twonum blog</p>
  </hgroup>
  <ul class="icon-group">
    <li><a href="{% url 'doublefloat:rss_feed' %}" aria-label="RSS"><i class="fa fa-rss" title="RSS"></i></a></li>
    <li><a href="{% url 'doublefloat:atom_feed' %}" aria-label="Atom"><i class="fa fa-atom" title="Atom"></i></a></li>
  </ul>
  <section>
    <h2>What is DoubleFloat?</h2>
    <p>
      <b>DoubleFloat</b> is what I call the twonum blog. It's just like <a href="//xkcd.com">xkcd</a>, covering a little
      bit of everything.
    </p>
  </section>

  {% for p in posts %}
    <article>
      <h1><a href="{{ p.get_absolute_url }}">{{ p.title }}</a></h1>
{{ p.body|sanitized_markdown|safe }}
    </article>
  {% endfor %}

  {% include 'core/pagination.html' with pagination=pagination elided=elided %}
{% endblock main %}
