{% extends 'base.html' %}
{% load static %}
{% load markdown_extras %}

{% block head %}
  <link rel="stylesheet" href="{% static 'css/doublefloat.css' %}">
  <link rel="canonical" href="https://{{ request.site.domain }}{% url 'doublefloat:home' %}">
{% endblock %}

{% block main %}
  <h1>the twonum blog</h1>
  <ul class="icon-group">
    <li><a href="{% url 'doublefloat:rss_feed' %}">RSS feed</a></li>
    <li><a href="{% url 'doublefloat:atom_feed' %}">Atom feed</a></li>
  </ul>

  <hr>
  <h2>posts on Cadence's blog</h2>
  {% for item in posts %}
    <h3>{{ item.0 }}</h3>
    <ul aria-label="Posts on Cadence's blog" id="posts">
      {% for post in item.1 %}
        <li>
          <a href="{{ post.get_absolute_url }}">
            <time datetime="{{ post.date|date:'Y-m-d\\TH:i:sO' }}">{{ post.date }}</time>: {{ post.title }}
          </a>
        </li>
      {% endfor %}
    </ul>
  {% endfor %}
{% endblock main %}
