{% extends 'base.html' %}
{% load markdown_extras %}

{% block main %}
  <hgroup>
    <h1>DoubleFloat</h1>
    <p>The twonum blog</p>
  </hgroup>
  <ul class="icon-group">
    <li><a href="{% url 'doublefloat:rss_feed' %}" aria-label="RSS"><i class="fa fa-rss" title="RSS"></i></a></li>
    <li><a href="{% url 'doublefloat:atom_feed' %}" aria-label="Atom"><i class="fa fa-atom" title="Atom"></i></a></li>
  </ul>
  <section>
    <h2>What is DoubleFloat?</h2>
    <p>
      <b>DoubleFloat</b> is what I call the twonum blog. It's just like <a href="//xkcd.com">xkcd</a>, covering a little
      bit of everything.
    </p>
  </section>

  {% for p in posts %}
    <article>
      <h1><a href="{{ p.get_absolute_url }}">{{ p.title }}</a></h1>
{{ p.body|sanitized_markdown|safe }}
    </article>
  {% endfor %}

  <nav aria-label="Pagination">
    <ul class="pagination">
      {% if pagination.has_previous %}
        <li class="page-item" aria-label="Previous">
          <a class="page-link" href="?page={{ pagination.previous_page_number }}" aria-hidden="true">&raquo;</a>
        </li>
      {% else %}
        <li class="page-item disabled" aria-label="No previous"><span class="page-link" aria-hidden="true">&laquo;</span></li>
      {% endif %}

      {% for e in elided %}
        {% if e == '...' %}
          <li class="page-item"><span class="page-link">&hellip;</span></li>
        {% else %}
          <li class="page-item">
            <a class="page-link" href="?page={{ e }}" aria-hidden="true">{{ e }}</a>
          </li>
        {% endif %}
      {% endfor %}

      {% if pagination.has_next %}
        <li class="page-item" aria-label="Next">
          <a class="page-link" href="?page={{ pagination.next_page_number }}">&raquo;</a>
        </li>
      {% else %}
        <li class="page-item disabled" aria-label="No next"><span class="page-link" aria-hidden="true">&raquo;</span></li>
      {% endif %}
    </ul>
  </nav>
{% endblock main %}
