{% extends 'base.html' %}
{% load static %}
{% load markdown_extras %}

{% block head %}
  <link rel="stylesheet" href="{% static 'css/doublefloat.css' %}">
  <link rel="canonical" href="https://{{ request.site.domain }}{{ post.get_absolute_url }}">
{% endblock %}

{% block main %}
  <p id="page-info">
    Posted by {{ post.author.username }} {{ post.date }}
    <span id="categories">
      {% for cat in post.categories.all %}
        <a href="{{ cat.get_absolute_url }}">{{ cat.title }}</a>
      {% endfor %}
    </span>
  </p>
{{ post.body|markdown|safe }}
{% include 'core/comments.html' with object=post %}
{% endblock main %}
