{% extends 'base.html' %}
{% load static %}
{% load markdown_extras %}

{% block head %}
  <link rel="stylesheet" href="{% static 'css/doublefloat.css' %}">
  <link rel="canonical" href="https://{{ request.site.domain }}{{ post.get_absolute_url }}">
{% endblock %}

{% block main %}
  <p id="page-info">
    <a href="{% url 'doublefloat:home' %}">← Posts</a>
    <br>
    Posted by Cadence on <time datetime="{{ post.date|date:'Y-m-d\\TH:i:sO' }}">{{ post.date }}</time>
  </p>
{{ post.body|markdown|safe }}
{% include 'core/comments.html' with object=post %}
{% endblock main %}
