{% load static %}<!DOCTYPE html>
<html id="twonumorg" lang="en-CA">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block head_title %}{% endblock head_title %}{{ title }}{% if show_site_name_in_title is not False %} &ndash; {{ request.site.name }}{% endif %}</title>
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  <link href="https://twonum.org/_f/Outfit/1.css" rel="stylesheet" integrity="sha512-M+KY+VRjfG2n8vhjZ4Qw+++aELqpDFlevb2c8sfXJwdHuRWDRjGnLFwjjbYdSgc6w6U0RnwS8Lxx6k1SrW8tjg==" crossorigin>
  <link rel="icon" href="{% static 'favicons/favicon.ico' %}" type="image/x-icon">
  <link rel="icon" href="{% static 'favicons/favicon-256.png' %}" type="image/png" sizes="256x256">
  <link rel="icon" href="{% static 'favicons/favicon.svg' %}" type="image/svg+xml">
  <link rel="stylesheet" href="{% static 'css/code.css' %}">
  {% if masonry %}
    <script src="{% static 'ext/masonry/masonry.pkgd.min.js' %}"></script>
    <script src="{% static 'ext/imagesloaded/imagesloaded.pkgd.min.js' %}"></script>
  {% endif %}
  <noscript>
    <!--suppress CssUnusedSymbol -->
    <style nonce="{{ csp_nonce }}">
      .yesscript { display: none !important; }
    </style>
  </noscript>
{% block head %}{% endblock head %}
  <!--
    YOU MAY NOT ACCESS OR USE THIS FILE OR ANY OTHER DATA ON TWONUM.ORG FOR ANY AI-RELATED PURPOSES.
    SEE <https://www.twonum.org/clankers.txt>.
  -->
</head>
<body>
  <a href="#main" id="skip">Skip to main content</a>
  <div id="twostyles">
    <header>
      {% if bare != True %}
        <nav>
          <a href="{% url 'home:home' %}"><img id="twostyles-button" src="{% static 'button/button.png' %}" alt='A mountain in the bottom left corner, a gear in the top right, and the word "twonum" on top of star patterns'></a>
          <ul>
            {% if request.user.is_staff %}
              <li><a class="twostyles-nav-admin" href="{% url 'admin:index' %}">admin</a></li>
                {% if admin_url %}
                  <li><a class="twostyles-nav-admin" href="{{ admin_url }}">{% if admin_name %}{{ admin_name }}{% else %}page{% endif %}</a></li>
                {% else %}
                  <li><a class="button-old-disabled" href="#">no page</a></li>
                {% endif %}
              <li><hr></li>
            {% endif %}
            <li><a href="https://www.twonum.org/blog/posts/website/#button">↑ button!</a></li>
            <li><hr></li>
            <li><a href="{% url 'doublefloat:home' %}">blog</a></li>
            <li><a href="{% url 'projects:home' %}">projects</a></li>
            <li><a href="{% url 'pronums:home' %}">pronums</a></li>
            <li><a href="{% url 'cityfolk:folks' %}">people</a></li>
            <li><a href="https://hub.twonum.org/">accounts</a></li>
            <li><a href="{% url 'about:about' %}#contact">contact</a></li>
          </ul>
          <div id="twostyles-nav-gearbox">
           <img id="twostyles-nav-gears" src="{% static 'gears/gears_nobg.png' %}" alt='Pixel art of a gear, a grey box with a purple letter "t", and a blue mountain layered on top of each other'>
          </div>
        </nav>
      {% endif %}
    </header>
    <main id="main">
{% block pre_h1 %}{% endblock %}
      {% if title and h1_from_title is not False %}<h1>{{ title }}</h1>{% endif %}
{% block main %}{% endblock %}
    </main>
  </div>
  <footer class="px-5 py-4">
    &copy; {% now "Y" %} twonum.
    Unless otherwise noted, content licensed under
    <a href="{% static 'licenses/cc-by-sa-4.0.txt' %}">CC BY-SA 4.0</a>
    and code licensed under <a href="{% static 'licenses/agplv3.txt' %}">AGPLv3</a>.
    <br>
    {% if not bare %}
      <strong>You may not access or use this file or any other data on twonum.org for any AI-related purposes.</strong>
      See <a href="/clankers.txt">https://www.twonum.org/clankers.txt</a>.
      <br>
    {% endif %}
    <a href="https://github.com/twonfi/twonum.org">Source code</a>
  </footer>
{% load tz_detect %}{% tz_detect %}
{% if masonry %}<script src="{% static 'js/masonry.js' %}"></script>{% endif %}
</body>
</html>
